body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{

height: 70px;
width: 100%;
background-color: black;


}
.first{
    list-style: none;
     display: flex;
    /* background: transparent; */
    text-transform: capitalize;
    font-size: 16px;
    padding: 25px;
    direction: ltr;
  
   
}
li a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
.searchbox{
border-radius: 10px;
margin-left: 200px;
padding:10px;
margin-top: -10px;
font-size: 20px;
text-transform: capitalize;
padding-left: 40px;

}
.boarder{
    height: 40px;
    width: 100px;
    border: 2px solid whitesmoke;
    margin-top: -14px;
    padding-top: 9px;
    border-radius: 10px;
}
#logo1{
    height: 50px;
    width: 60px;
    margin-top: -13px;
}
.bodystart{
  
    background-color:rgb(43,49,52);
    height: 550px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    text-transform: capitalize;
    position: relative;


}

.main{
margin-top: 70px;
position: absolute;
margin-left: 180px;


}

.signuppage{
    margin-top: 60px;
    margin-left: 680px;
    height: 350px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    position: absolute;

} 
#button1{
    height: 60px;
    width: 380px;
    background-color: green;
    text-transform: capitalize;
    border-radius: 15px;
    font-size: 18px;
    color: white;
}
.rule1{
    font-size: 12px;
}
.rule2{
    font-size: 12px;
}
.content{
    color: white;
    font-size: 64px;
    width: 500px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;;
}
.sub-content{
    width: 380px;
    font-size: 20px;
    padding-top: -100px;
    color: rgba(255,255,255, 0.6);

}

.body1{
    background-color:rgb(255,255,255);
    display: flex;
    height: 320px;
    width: 1229px;
    margin: 135px  1372px  1151px  148px;
    border-radius: 10px;
    align-items: center;
    text-transform: capitalize;
    position: relative;
    
    

}
.main1{
    position: absolute;
    margin-left: 50px;
    width: 350px;
}
.content1{
font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
font-size: 32px;


}
.sub-content1{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
font-size: 20px;
}
.page1{
    position: absolute; 
    margin-left: 550px;


    
}
.enterprise{
    list-style-type: none;
    margin-top: 0px;

}
#image{
    height: 70px;
}
.item1{
    font-family:  Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    padding: 5px;
    padding-left: 0px;
}
.item2{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 14px;
padding: 25px;
padding-top: 3px;
padding-left: 0px;

}
.trail {
    background-color:rgb(3,102,214);
    font-size: 16px;
    /* color:white; */
    vertical-align: middle;
    border: 1px solid #1074e7;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-decoration: none;
    /* height: 30px;
    width: 155px; */
    padding: 20px;
    margin-right: 100px;

}
.trail a{
    padding: 20px;

}

.page2{
    position: absolute; 
    margin-left: 950px;
}
.talktous{
    list-style-type: none; 
    margin-top: 0px;
}
#image1{
    height: 70px;
    
}
.item3{
    font-family:  Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    padding: 5px;
    padding-left: 0px;
}
.item4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    padding: 15px; 
    padding-top: 0px;
    padding-left: 0px;
}
.sales{
   
padding: 18px;
border-radius: 25px;
padding-left: 0px;
margin-left: -20px;

}
.sales a{
    text-decoration: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 14px;
text-transform: capitalize;
color: #1074e7;
padding: 40px;

}
.body2{
    background-color: rgb(4,66,137);
   height: 148px; 
    width: 1228px;
    display: flex;
position: relative;
justify-content: center;
margin-top: -1000px;
margin-left: 144px;
border-radius: 10px;


}
.content2{
    position: absolute;
    margin-left: -70px;
    
   

}
.new{
    height: 20px;
    width: 50px;
font-size: 12px;
color: #22863a;
border: 1px solid #e1e4e8;
border-radius: 2em;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: uppercase;
text-align: center;
margin-left: -190px;
margin-top: 45px;


}

.github{
    width: 750px;
    margin-top: -38px;
    margin-left: -120px;
    color: rgba(255,255,255);
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.github1{
    width: 750px;
    margin-left: -120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255,255,255);
    font-size: 16px;
}

.trygithub{
position: absolute;


}
#buttton1{
    background-color: rgb(16,116,231);
 
border-radius: 6px;
font-size: 16px;

border: 1px solid #1074e7;
text-align: center;
height: 70px;
width: 210px;
margin-top: 45px;
margin-left:890px ;


}
.trygithub a{
    text-decoration: none;
    text-transform: capitalize;
    font-family:  Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #fff;

}
.companylogo{
   
 
    margin-top: 124px;
    text-align: center;

}
.more{

    font-size: 20px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
color: black;


}

.logo{
width: 70%;
margin:50px auto;
display: grid;
grid-template-columns: repeat(6,1fr) ;
grid-template-rows:100px 100px  ;
}

#airbnb{
    height: 50px;
    width: 50px;
}
#sap{
    height: 50px;
    width: 50px;

}
#ibm{
    height: 50px;
    width: 50px;
}
#google{
    height: 50px;
    width: 50px;
}
#paypal{
    height: 50px;
    width: 50px;
}
#bloomberg{
    height: 50px;
    width: 50px;
}
#spotify {
    height: 50px;
    width: 50px;
}
#twitter{
    height: 50px;
    width: 50px;
}
#facebbok{
    height: 50px;
    width: 50px;
}
#node{
    height: 50px;
    width: 50px;
}
#nasa{
    height: 50px;
    width: 50px;
}
#wallmart{
    height: 50px;
    width: 50px;

}
.body3{
    text-align: center;
    text-transform: capitalize;
    margin-top: 150px;
}
.start{
font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace!important;
font-size: 16px;
color:#586069;

}
.abetter{
    font-size: 48px;
    font-family: inter,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.start.{
    font-size: 24px;
    font-family: inter,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
width: 600px;
color: #586069;


}
#buttton2{

    color: #1074e7;
    background-color: hsla(0,0%,100%,0);
    border-color: rgba(16,116,231,.5);
padding: 20px 32px;
border-radius: 6px;
text-decoration: none;
text-transform: capitalize;

}

.button a{
    text-decoration: none;
    font-size: 16px;

}
.body4{
    display: flex;
    position: absolute;
    text-align: center;
    margin-top: 100px;
}


#team{
height: 550px;
width: 450px;
margin-left: 300px;
margin-top: -50px;

}
.logo4{
    position: absolute;
}
.pages{
    position: absolute;
margin-left: 850px;
width: 400px;
text-transform: capitalize;
margin-top: -50px;


}
.pages a{
    text-decoration: none;
    color: rgb(36,41,46);
}
.pages h3{
    font-size: 20px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;;
    color: rgb(36,41,46);
}
.pages p{
font-size: 14px;
color: rgb(36,41,46);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.starting{
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(21, 54, 87, 0.15);
    margin: 20px;


}
.middle{

    box-shadow: 0 2px 4px rgba(21, 54, 87, 0.15);
    border: 1px solid transparent;
    margin: 20px;
}
.ending{

    box-shadow: 0 2px 4px rgba(21, 54, 87, 0.15);
    border: 1px solid transparent;
    margin: 20px;
}




   


#code{

    color:blue;
}




#project{

    color:blue;  


}


#integration{
    color:blue;

}

.body5{
margin-top: 700px;
text-align: center;
text-transform: capitalize;
}
.seehoww{
font-size: 20px;
font-size: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;


}




.box2{
margin: 30px auto;
width: 70%;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 30px;




}
.box2 a{
text-decoration: none;
font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
color: rgb(36,41,46);




}



#pic1{

height: 200px;
width: 200px;

}
#pic2{

    height: 200px;
    width: 200px;
    
    }
    #pic3{

        height: 200px;
        width: 200px;
        
        }
        #pic4{

            height: 200px;
            width: 200px;
            }
            .mgm{

                box-shadow: 0 2px 4px rgba(21, 54, 87, 0.15);
padding-top: 16px;
border-radius: 6px;
background-color: #fff;


            }
            .class{

padding: 10px;


            }

            .class1{

                padding: 10px;
                
                
                            }
.readmore1{

margin: 25px;


}

.readmore1 a{

    color: blue;
}


.nationwide{

    box-shadow: 0 2px 4px rgba(21, 54, 87, 0.15);
    padding-top: 16px;
    border-radius: 6px;
    background-color: #fff;

}
.class2{

    padding: 10px;
    
    
                }
    
                .class3{
    
                    padding: 10px;
                    
                    
                                }
    .readmore2{
    
    margin: 25px;
    
    
    }
    
    .readmore2 a{
    
        color: blue;
    }
    
.sap{

    box-shadow: 0 2px 4px rgba(21, 54, 87, 0.15);
    padding-top: 16px;
    border-radius: 6px;
    background-color: #fff;  



}
.class4{

    padding: 10px;
    
    
                }
    
                .class5{
    
                    padding: 10px;
                    
                    
                                }
    .readmore3{
    
    margin: 25px;
    
    
    }
    
    .readmore3 a{
    
        color: blue;
    }
    

.spotifye{

    box-shadow: 0 2px 4px rgba(21, 54, 87, 0.15);
    padding-top: 16px;
    border-radius: 6px;
    background-color: #fff;  


}
.class6{

    padding: 10px;
    
    
                }
    
                .class7{
    
                    padding: 10px;
                    
                    
                                }
    .readmore4{
    
    margin: 25px;
    
    
    }
    
    .readmore4 a{
    
        color: blue;
    }

    .body6{
        text-align: center;
        text-transform: capitalize;
        margin-top: 150px;
    }
    .security{
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace!important;
    font-size: 16px;
    color:#586069;
    
    }
    .yourbusiness{
        font-size: 48px;
        font-family: inter,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    margin-top: auto;
    
    }
    .fromflexibla{
        font-size: 20px;
        font-family: inter,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: #586069;
    width: 550px;
    margin-left: 500px;
    
    }
    #button4{
    
        color: rgb(16,116,231);

               height: 70px;
        width: 400px;
        border-radius: 10px;
  border: 1px solid ;
 
    
    }
    
    .button3 a{
        text-decoration: none;
        font-size: 16px;
        text-transform: capitalize;
        padding: 50px;
       
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.button3{


    margin-top: 50px;
    
}
.body7{
display: flex;
margin-top: 100px;
position: relative;

}
.seven{
    position: absolute;
margin-left: 230px;

}
.segement1{
width: 500px;
text-transform: capitalize;

}
.segement2{
    text-transform: capitalize;
    width: 480px;

}
.seven1{
    position: absolute;

margin-left: 780px;
}
.seven h1{

    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
color: rgb(36,41,46);
font-size: 20px;
}
.seven p{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 14px;
color: rgb(88,96,105);
}
.body71{
display: flex;
box-shadow: 2px 2px 2px 4px rgba(21, 54, 87, 0.15); 
/* border: 1px solid; */
margin-top: 400px;
border-radius: 6px;
justify-content: center;
text-transform: capitalize;
box-sizing: border-box;
position: relative;
width: 800px;
margin-left: 400px;


}



.content11{
  
    width: 450px;
}
.content11 a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #0366d6;
font-size: 16px;
text-decoration-style: solid;

}
.content11 h3{

    font-size: 19px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: rgb(88,96,105);


}
.securely{

    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
font-size: 14px;
color: rgb(88,96,105);

}
.body8{
    text-align: center;
    text-transform: capitalize;
    margin-top: 150px;
}
.integrt{
font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace!important;
font-size: 16px;
color:#586069;

}
.buildon{
    font-size: 48px;
    font-family: inter,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

margin-top: auto;

}
.customize{
    font-size: 20px;
    font-family: inter,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

color: #586069;
width: 600px;
margin-left: 500px;

}
#button6{

    color: rgb(16,116,231);

           height: 70px;
    width: 400px;
    border-radius: 10px;
border: 1px solid ;


}

.button5 a{
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    padding: 50px;
   
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button5{


margin-top: 50px;

}